<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>WACM</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
	
</head>

<body>

<div id="wrapper">
	<h1>WACM</h1>
	<div id="nav">
		<a href="./index.html">About Us</a>
		<a href="./events.html">Events</a>
		<a href="http://www.freewebsitetemplates.com">Officers</a>
		<a href="http://www.freewebsitetemplates.com">Links</a>
		<a href="http://www.freewebsitetemplates.com">Contact</a>
		
	</div>
	<div id="body">
		<div id="body-top">
			<div id="body-top-2"></div>
			<div id="body-bot">
				<div id="welcome">
					<img src="images/pic_1.jpg" width="231" height="301" alt="Pic 1" />
					<h2>Welcome</h2>
					<p>Don't forget to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add at least one free website template daily.</p>
						
			<p>This is a template designed by free website templates for you for free you can replace all the text by your own 
			text. This is just a place holder so you can see how the site would look like.</p> 
					<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-drk">more</a></p>
				</div>
				<div id="content">
					<img src="images/pic_2.jpg" width="109" height="108" alt="Pic 2" class="left" />
					<h2>WACM Events</h2>
					
			
			<h2>WACM Mentoring Event: Ice Cream at the Terrace 4-29-10</h2>

<p>What: Ice cream social <br>
Where: Memorial Union Terrace <br>
When: Thursday, April 29 from 5 - 6 p.m. <br><br>

Unfortunately, WACM does not have the funding to purchase ice cream. If you want ice cream, you are responsible for your own. In any case, we would love your company so please stop by if you cannot stay the whole hour.</p>

<h2>Breakfast with Potential Grad Students 3-20-10</h2>

<p>It's that time of the year again. Visit weekend will be here in just a few short weeks and as usual WACM will 
be hosting breakfast for the visiting women. Breakfast will be Saturday, 
March 20 at 9 a.m. at Bluephies. Please RSVP to the WACM president by March 18 if you are going to come to breakfast. 
Please also let her know if you can provide a ride, how many students you can seat, 
and a vague idea of where you live.</p>

<h2>WACM Mentoring Program Kick Off Dinner with Glass Nickel Pizza! 3-4-10</h2>
<p>All mentees have been assigned to a mentor. Now its time to gather and get introduced to each other! Mentors and Mentees
gathered at this event and got to know each other and other WACM members. Mary Vernon, Susan Horwitz, and Shan Lu were also
present as female professors of the CS department.</p>

<p>Mary Vernon, the CS chair, indicated that we not only want to
tell female students about a Computer Science major life in school, but also want to make them aware of great 
opportunites that they will have after graduating with this major. She introduced, Shan Lu, the most recently hired female
faculty memeber, and that she is a great resource to ask questions about life as a graduate and undergraduate student. Shan also
emphasized that even though she is very busy, she is willing to provide advice to students interested in Computer Sciences.</p>

<p>There is no deadline for signing up for the mentoring program. If you are interested E-mail Elizabeth Soechting, the 
WACM president, to be matched with a mentor.</p>

<h2>WACM Visits the Madison Microsoft Office 2-26-10</h2>
<p>A group of WACM members walked to the Madison Microsoft office at 551 West Main Street. 
We got to meet David Dewitt, and other Database professors along with Research assistants and lab employees. The lab's
focus is in Databases and is associated with the SQL department of Microsoft.</p>

<h2>WACM Lunch/ Mentoring Program 2-2-10</h2>
<p>Supported by the Madison's Microsoft Lab, this lunch gathered the WACM members.
The Mentoring Program was introduced and interested female graduate students signed in to be a mentor. WACM members
will be outreaching this program to the students in selected CS classes. Interested students will be matched with a mentor.
This will give them the opportunity to ask questions that they have regarding life as a Computer Science major student.
</p>

<h2>WACM Annual Dinner 10-25-09</h2>
<p>Susan Horwits hosted the WACM annual dinner this year. Many students and some professors had attended. It was
a great opportunity to meet and socialize with other female students and professors.</p>

<h2>WACM Officers Meet Barbara Liskov 10-22-09</h2>
<p>Barbara Liskov from MIT is the winner of Turing award in 2009. She was visiting UW-Madison for a talk and we were opportunate
to meet with her. We discussed issues regarding to the 302 course which is the gateway to Computer Sciences for students. 
These are some of the ideas that we talked about:
<li>Decreasing the number of students in large lectures so that students can have better contact with the professors.</li>
<li>Programming Robots which has been used in some universities and is more fun.</li> 
</p>
			
			<p>If you're having problems editing the template please don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">forum</a>.</p>
					<p class="more" id="intro"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>
					
					<div class="fineline"></div>
					
					<h2>Latest Projects</h2>
					<div id="picbar">
						<div id="arr-left">
							<a href="http://www.freewebsitetemplates.com"><img src="images/arr_left.gif" width="15" height="90" alt="Arr Left" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_3.jpg" width="117" height="74" alt="Pic 3" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_4.jpg" width="117" height="74" alt="Pic 4" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_5.jpg" width="117" height="74" alt="Pic 5" /></a>
						</div>
  					<div id="arr-right">
	  					<a href="http://www.freewebsitetemplates.com"><img src="images/arr_right.gif" width="15" height="90" alt="Arr Right" /></a>
		  			</div>
						<div class="clear"></div>
					</div>
					
					<div class="fineline-flat"></div>
					
				  <div id="planer">
				  	<h2>Architects &amp; Planners</h2>
				  	<div class="fineborder"><img src="images/pic_6.jpg" width="186" height="79" alt="Pic 6" /></div>
				  	<p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
			
				  	<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>
				  </div>
				  <div id="stories">
				  	<h2>Success Stories</h2>
				  	<div class="fineborder"><img src="images/pic_7.jpg" width="186" height="79" alt="Pic 7" /></div>
				  	<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
				  	<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>
				  </div>
				  <div class="clear-flat"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright statement goes here. All rights reserved</p>
	</div>
</div>

</body>
</html>
