<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>WACM</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
	
</head>

<body>

<div id="wrapper">
	<h1>WACM</h1>
	<div id="nav">
		<a href="./index.html">About Us</a>
		<a href="./events.html">Events</a>
		<a href="http://www.freewebsitetemplates.com">Officers</a>
		<a href="http://www.freewebsitetemplates.com">Resources</a>
		<a href="http://www.freewebsitetemplates.com">Contact</a>
		
	</div>
	<div id="body">
		<div id="body-top">
			<div id="body-top-2"></div>
			<div id="body-bot">
				<div id="welcome">
					<img src="images/Diversity_Matters.jpg" width="231" height="301" alt="Pic 1" />
					<h2>Welcome</h2>
					<p>Don't forget to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add at least one free website template daily.</p>
						
			<p>This is a template designed by free website templates for you for free you can replace all the text by your own 
			text. This is just a place holder so you can see how the site would look like.</p> 
					<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-drk">more</a></p>
				</div>
				<div id="content">
					<img src="images/acmw-logo.png" width="109" height="108" alt="Pic 2" class="left" />
					<h2>About WACM</h2>
					
			
			<p>WACM is the University of Wisconsin-Madison's student chapter of ACM-W, ACM's Committee on Women in Computing. We provide social, educational and outreach activities for women in the Computer Sciences department, in the university, and in the surrounding community.</p>
			
					<!--<p class="more" id="intro"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>-->
					
					<div class="fineline"></div>
					
					<h2>Latest Projects</h2>
					<div id="picbar">
						<div id="arr-left">
							<a href="http://www.freewebsitetemplates.com"><img src="images/arr_left.gif" width="15" height="90" alt="Arr Left" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_3.jpg" width="117" height="74" alt="Pic 3" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_4.jpg" width="117" height="74" alt="Pic 4" /></a>
						</div>
						<div class="picbox">
							<a href="http://www.freewebsitetemplates.com"><img src="images/pic_5.jpg" width="117" height="74" alt="Pic 5" /></a>
						</div>
  					<div id="arr-right">
	  					<a href="http://www.freewebsitetemplates.com"><img src="images/arr_right.gif" width="15" height="90" alt="Arr Right" /></a>
		  			</div>
						<div class="clear"></div>
					</div>
					
					<div class="fineline-flat"></div>
					
				  <div id="planer">
				  	<h2>Architects &amp; Planners</h2>
				  	<div class="fineborder"><img src="images/pic_6.jpg" width="186" height="79" alt="Pic 6" /></div>
				  	<p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
			
				  	<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>
				  </div>
				  <div id="stories">
				  	<h2>Success Stories</h2>
				  	<div class="fineborder"><img src="images/pic_7.jpg" width="186" height="79" alt="Pic 7" /></div>
				  	<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
				  	<p class="more"><a href="http://www.freewebsitetemplates.com" class="bar-lit">more</a></p>
				  </div>
				  <div class="clear-flat"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright statement goes here. All rights reserved</p>
	</div>
</div>

</body>
</html>
