
#nav {
clear: left;
float: left;
width: 150px;
/*margin: 0 0 10px 0;*/
padding: 0;
font-size: 0.9em;
}

#nav ul {	
list-style: none;
width: 150px;
margin: 0 0 20px 0;
padding: 0;
font-size: 1.1em;
}	

#nav li {
margin-bottom: 4px;
}

#nav li a {
font-weight: bold;
height: 20px;
text-decoration: none;
color: #505050;
display: block;
padding: 6px 0 0 10px;
background: #f4f4f4;
border-left: 4px solid #cccccc;
}

#nav li a:hover {
background: #eaeaea;
color: #286ea0;
border-left: 4px solid #286ea0;
}

#content {
/*margin: 0 110px 20px 160px;*/
padding: 0 10px 0 10px;
text-align: left;
display: table;
}

#content h2 {
font-size: 1.5em;
margin: 0 0 0.5em 0;
}

#content img {
padding: 1px;
display:inline;
background: #cccccc;
border: 4px solid #f0f0f0;
}

a {
text-decoration: none;
color: #286ea0;
}

a:hover {
text-decoration: underline;
color: #286ea0;
}

.hide {
display: none;
}

.motion {
font-weight: bold;
color: #4A6CD4;
}

.control {
font-weight: bold;
color: #E6A822;
}

.looks {
font-weight: bold;
color: #8F56E3;
}

.pen {
font-weight: bold;
color: #00A178;
}

.sensing {
font-weight: bold;
color: #0494DC;
}

.operators {
font-weight: bold;
color: #62C213;
}

.variables {
font-weight: bold;
color: #F3761D;
}
