/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 17px 17px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 17px 17px);
}

.Sheet-bl
{
	clip: rect(17px 17px auto auto);
}

.Sheet-br
{
	clip: rect(17px auto auto 17px);
}

.Sheet-tc
{
	clip: rect(auto auto 17px auto);
}

.Sheet-bc
{
	clip: rect(17px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 17px);
}

.Sheet-cl
{
	clip: rect(auto 17px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 800px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.Block-bl
{
	clip: rect(7px 7px auto auto);
}

.Block-br
{
	clip: rect(7px auto auto 7px);
}

.Block-tc
{
	clip: rect(auto auto 7px auto);
}

.Block-bc
{
	clip: rect(7px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 7px);
}

.Block-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 814px);
}
/* end BlockHeader */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 400px);
}
/* end Button */

