<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Free Website Templates</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="central">
	<div id="leftside">
		<div id="header"></div>
		<div id="middle">
			<div id="photo"><img src="images/photo.jpg" alt="photo"/></div>
			<div id="menu">
				<ul>
					<li><a href="http://www.freewebsitetemplates.com">About her</a></li>
					<li><a href="http://www.freewebsitetemplates.com">Photos</a></li>
					<li><a href="http://www.freewebsitetemplates.com">Candles</a></li>
					<li><a href="http://www.freewebsitetemplates.com">Videos</a></li>
					<li><a href="http://www.freewebsitetemplates.com">Her Legacy</a></li>
					<li><a href="http://www.freewebsitetemplates.com">Her timeline</a></li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<p>Powered by <!-- Do not remove this see terms of use on http://www.freewebsitetemplates.com/termsofuse.htm --><a href="http://www.freewebsitetemplates.com">Free Website Templates</a></p>
		</div>
	</div>
	<div id="rightside">
		<h1>This memorial website was created <br /> in the memory of our loved one.</h1>
		<p>
			This is a template designed by <strong><a href="http://www.freewebsitetemplates.com">free website templates</a></strong> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. If you're having problems editing the template please don't hesitate to ask for help <a href="http://www.freewebsitetemplates.com/forum/">on the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="http://www.freewebsitetemplates.com">more ...</a>
		</p>
		<p>
			This is a template designed by <strong><a href="http://www.freewebsitetemplates.com">free website templates</a></strong> for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. If you're having problems editing the template please don't hesitate to ask for help <a href="http://www.freewebsitetemplates.com/forum/">on the forum</a>. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="http://www.freewebsitetemplates.com">more ...</a>
		</p>
	</div>
</div>
</body>
</html>