* {margin:0px;padding:0px;top:0px;left:0px;}
body{
	text-align: center;
	background-color: #fff;
}
#central{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	position: relative;
	width: 761px;
	text-align: left;
}
#leftside{
	float: left;
	width:390px;
	height:482px;
}
#rightside{
	float: right;
	width:371px;
	height:482px;
	background-color:#b8d7f5;
	position: relative;
	color:#fff;
}
#header{
	background-image: url(images/header.gif);
	height: 107px;
	width: 388px;
	position: relative;
}
#middle{
	position: absolute;
	top: 107px;
}
#leftside img{margin-top:2px;}
#menu{
	position: absolute;
	height: 306px;
	width: 137px;
	left: 251px;
	top: 0px;
	background-color: #0e5ba4;
	margin-top:2px;
}
#leftside ul{
	list-style-position: outside;
	list-style-type: none;
	margin-top: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
#leftside li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;	
	list-style-position: outside;
	list-style-type: none;
}
#leftside ul a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	height: 25px;
	width: 117px;
	padding-left: 20px;
	padding-top: 10px;
	display: block;
}
#leftside a:hover{background-color:#178dfd;}
#rightside h1{
	color:#0e5ba4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 20px;
	text-align:center;
}
#rightside p{
	color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 20px;
}
#rightside a{color:#000;}
#rightside a:hover{color:#0e5ba4;}
#footer{
	position: absolute;
	height: 65px;
	width: 388px;
	top: 417px;
	background-color: #0e5ba4;
	text-align:center;
}
#footer p{	
	color:#fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 25px;
}
#footer a{color:#fff;}