<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="main">
<!-- header begins -->
<div id="header">
    <div id="logo"><a href="#">metamorph_stones</a>
        <h2><a href="http://www.metamorphozis.com/" id="metamorph">Design by Metamorphosis Design</a></h2>
    </div>
    <div id="buttons">
          <a href="#" class="but"  title="">Home</a>
          <a href="#" class="but" title="">Blog</a>
          <a href="#"  class="but" title="">Gallery</a>
          <a href="#"  class="but" title="">About us</a>
          <a href="#" class="but" title="">Contact us</a>
    </div>
</div>
<!-- header ends -->
    <!-- content begins -->
    
    	<div id="content">
        	<div id="right">
            	
            	<h1>Metamorphosis Design</h1>
                <div class="right_b"><span class="right_span">Morbi sit amet fringilla dolor. </span><br />
                  Phasellus tempor elementum metus vitae imperdiet. Nulla orci neque, convallis sed suscipit nec, iaculis nec odio. Phasellus sagittis sodales semper. Integer aliquam lectus a lectus mollis mollis rhoncus felis vestibulum. Etiam faucibus ipsum acmetus vehicula porttitor.<br />
                    <div class="read"><a href="#">read more</a></div><br />
           	  </div>
                <div class="right_b"><span class="right_span">Morbi sit amet fringilla dolor. </span><br />
                  Phasellus tempor elementum metus vitae imperdiet. Nulla orci neque, convallis sed suscipit nec, iaculis nec odio. Phasellus sagittis sodales semper. Integer aliquam lectus a lectus mollis mollis rhoncus felis vestibulum. Etiam faucibus ipsum acmetus vehicula porttitor.<br />
                    <div class="read"><a href="#">read more</a></div><br />
           	  </div>
								<div class="right_b"><span class="right_span">Morbi sit amet fringilla dolor. </span><br />
                  Phasellus tempor elementum metus vitae imperdiet. Nulla orci neque, convallis sed suscipit nec, iaculis nec odio. Phasellus sagittis sodales semper. Integer aliquam lectus a lectus mollis mollis rhoncus felis vestibulum. Etiam faucibus ipsum acmetus vehicula porttitor.<br />
                    <div class="read"><a href="#">read more</a></div><br />
           	  </div>
              
           	</div>  
            <div id="left">
           	  <div class="tit_bot">
       		    <div class="tit">
       		      <h1><span class="tit_span">Metamorphosis Design&nbsp;</span></h1>
       		    </div>
                  	<div class="text">
                    	<p><img src="images/img1.jpg" width="124" height="94" class="img" alt="" />This website template is released under  a Creative Commons Attribution 2.5 License</p>
			    <p>We request you retain the full copyright notice in the template footer including the link to www.metamorphozis.com.<br />
			      This not only gives respect to the large amount of time given freely by the developers 
			      but also helps build interest, traffic and use of our free and paid designs. If you cannot (for good 
			      reason) retain the full copyright we request you at least leave in place the 
			      Website Templates line, with Website Templates  linked to www.metamorphozis.com. If you refuse 
			      to include even this then support may be affected.<br />
                <br />
			      You are allowed to use this design only if you agree to the following conditions:<br />
			      - You cannot remove copyright notice from this design without our permission.<br />
			      - If you modify this design it still should contain copyright because it is based on our work.<br />
			      - You may copy, distribute, modify, etc. this template as long as link to our website remains untouched.<br />
				  	      
  <br />
			      The Metamorphosis Design : 2010</p> 
                    	<div class="read"><a href="#"><img src="images/b_read.gif" alt="" /></a></div><br />
           	  	</div>
           	  </div>
              <div class="tit_bot">
       		    <div class="tit">
       		      <h1><span class="tit_span">Web Design Starter's Guide</span></h1></div>
                  	<div class="text"><ol>
              				<li><a href="http://www.metamorphozis.com/free_templates/free_templates.php">More Free Website Templates</a></li>
              				<li><a href="http://www.metamorphozis.com/shop/flash_templates.php">Flash Templates</a></li>
                      <li><a href="http://www.metamorphozis.com/website_hosting/index.php">Top Hosting Providers</a></li>
                      <li><a href="http://www.metamorphozis.com/contact/contact.php">Support For Free Website Templates</a></li>             
		                   </ol>                    	
                    	<br />
           	  	</div>
           	  </div>
                <div class="tit_bot">
           	  </div>
							<div class="tit_bot">
       		    <div class="tit">
       		      <h1><span class="tit_span">Free Website Templates&nbsp;</span></h1></div>
                  	<div class="text">
                    	<img src="images/img2.jpg" width="124" height="94" class="img" alt="" /><span class="left_span">Fusce ac arcu porta eros tempor sodales id ut est. </span> <br />
                    	Quisque nec eros vel enim laoreet adipiscing sed nec massa. Aliquam metus nisi, mattis non tincidunt et, facilisis vel dolor. Donec venenatis dictum adipiscing. Curabitur accumsan elit vel metus rutrum quis euismod leo vehicula. Suspendisse vel ligula ut felis adipiscing molestie. Suspendisse facilisis scelerisque sagittis. Proin nulla nibh, gravida suscipit venenatis feugiat, egestas vitae sapien. Sed blandit, dolor nec <br />
                        tristique tempor, magna velit molestie dolor, eget mollis libero magna et nisi. Integer ligula mi, mattis ut cursus in, convallis pulvinar lacus. Vivamus eget dolor eget velit laoreet placerat vitae sed nibh. Etiam justo libero, facilisis eu pellentesque ut, tincidunt non mauris. 
                    	<br />
                    	<div class="read"><a href="#"><img src="images/b_read.gif" alt="" /></a></div>
                    	<br />
           	  	</div>
           	  </div>
            </div>
            <br />
            <div style="clear: both"><img src="images/spaser.gif" alt="" width="1" height="1" /></div>
         <!-- footer begins -->
            <div id="footer">
          Copyright  2010. Designed by <a href="http://www.metamorphozis.com/" title="Flash Templates">Flash Templates</a><br />
                <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></div>
        <!-- footer ends -->
        </div>
    <!-- content ends -->
</div>
<div style="text-align: center; font-size: 0.75em;">Design downloaded from <a href="http://www.freewebtemplates.com/">free website templates</a>.</div></body>
</html>
