/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}



a{
	color: #000E2F;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
	color: #000E2F;
	text-decoration: none;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/bg.jpg) top repeat-x #565C60;
	line-height: 20px;
	padding-top: 39px;
	padding-bottom: 32px
}

#main {
	width: 1009px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	border: 10px solid #FFFFFF;
}

#header { 
width:1014px;
padding: 0px 0px 0px 0px;
background: url(images/header.jpg) left top no-repeat;
}

#logo {	font-family: Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:18px;
		font-style:italic;
		padding: 70px 0px 0px 642px;
		background: url(images/big_img.jpg) left top no-repeat;
		height: 173px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
}


#logo H2 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight:100;
}

#buttons{
	width: 900px;
	background: url(images/bg_but.jpg) left top no-repeat;
	text-align:center;
	padding-left:10px;
	height: 46px;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: block;
	float: left;
	height: 29px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 17px;
	text-align: center;
	background: url(images/but.jpg) 0px  6px no-repeat;
	text-transform:lowercase;
	width: 110px;
	margin-right: 10px;
}

#buttons a:hover {
	text-decoration: underline;
	background: url(images/but.jpg) 0px  0px no-repeat;
	padding-top: 11px;
	height: 35px;
}

#content{
	width: 1009px;
	padding: 10px 0px 0px 0px;
	background: url(images/cont.jpg) 0px 0px;
	margin: 0px 0px 0px 0px;
	border-top: 10px solid #FFFFFF;
}

#left{
	width: 642px;
	margin: 0px 0px 0px 10px;
	float: left;
	color:#000000;
}

.right_b {	background: url(images/right_box.gif)  0px 0px no-repeat;
		padding-left: 16px;
		padding-right: 30px;
		padding: 16px 28px 10px 30px;
}

.text{
	padding: 0px 0px 0px 15px;
}

.img {	float:left;
		margin: 6px 16px 3px 0px;
}

.left_span {	color:#0D2C55;
		font-weight:bold;
}

.right_span {	color:#493D26;
		font-weight:bold;
}

#left H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #001421;
	text-align:left;
	padding: 12px 0px 12px 28px;
	background: url(images/tit_l.gif) 0px 0px no-repeat  ;
}

.tit {
background: url(images/tit_l2.gif) 0px 24px repeat-x ;}

.tit_span {background: #FFFFFF;
font-weight:100;}

#right H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #FFFFFF;
	padding-top: 12px;
	padding-left: 0px;
	text-align: center;
	height: 35px;
	padding: 12px 0px 0px 0px;
	background: url(images/tit_r.jpg) center top no-repeat;
}

.read{
	text-align:right;
	padding-right:10px;
	padding-top: 10px;
	font-weight:bold;
	text-decoration:none;
}

#right .read {

	text-align:right;
	padding-right:20px;
	padding-top: 0px;
	font-weight:bold;
	text-decoration: underline;
}

#right .read:hover {
text-decoration: none;}

#right{
float: right;
width: 351px;
margin-right: 3px;
padding: 0px 0px 0px 0px;
}

.tit_bot { background: url(images/left_box.jpg) bottom repeat-x #FFFFFF;
padding: 0px 10px 0px 0px;}

#footer{
	height: 57px;
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	clear:both;
	padding: 18px 0px 0px 0px;
	background: url(images/footer.jpg) top repeat-x;
}

#footer a{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}

#footer a:hover{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
}
